body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background: #228B22;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background 0.3s;
}

nav a:hover {
    background: #007bff;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Teks Berjalan */
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Gambar Profil */
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
